@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  @keyframes drag {
    0% {
      transform: translate(-50%, -50%) translateX(0px);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) translateX(30px);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) translateX(0px);
      opacity: 1;
    }
  }

  .animate-drag {
    animation: drag 2s ease-in-out infinite;
  }
}
